### ✦ Dataset: movies
### ✦ Encontrar possíveis recomendações de filmes a partir do agrupamento de gêneros.
### ✦ Fragmento do DataSet

In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('../files-dataframes/movies.csv')
data.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27278 entries, 0 to 27277
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  27278 non-null  int64
 1   title    27278 non-null  object
 2   genres   27278 non-null  object
dtypes: int64(1), object(2)
memory usage: 639.5+ KB

In [8]:
data.isnull().sum()

movieId    0
title      0
genres     0
dtype: int64

In [9]:
data = data.drop_duplicates()