In [1]:
import pandas as pd

In [2]:
notes_csv = pd.read_csv('../../files-dataframes/16_dataset_notas_alunos.csv')
notes_csv
#reading file to init analisys

    Aluno  Idade  Matemática  Ciências
0       1     17          67        60
1       2     15          83        78
2       3     17          70        61
3       4     17          76        85
4       5     15          67        91
..    ...    ...         ...       ...
95     96     15          87        71
96     97     15          82        81
97     98     17          96        81
98     99     15          91        89
99    100     15          92        97

[100 rows x 4 columns]

In [4]:
notes_df = pd.DataFrame(notes_csv)
notes_df

    Aluno  Idade  Matemática  Ciências
0       1     17          67        60
1       2     15          83        78
2       3     17          70        61
3       4     17          76        85
4       5     15          67        91
..    ...    ...         ...       ...
95     96     15          87        71
96     97     15          82        81
97     98     17          96        81
98     99     15          91        89
99    100     15          92        97

[100 rows x 4 columns]

In [13]:
# calculando a media das notas de matemática e ciências
mean_mat = notes_df['Matemática'].mean()
print(f'a média das notas de matemática é {mean_mat}')
mean_cie = notes_df['Ciências'].mean()
print(f'a média das notas de matemática é {mean_cie}')

a média das notas de matemática é 81.57
a média das notas de matemática é 80.26

In [14]:
# calculando a mediana das notas de matemática e ciências
median_mat = notes_df['Matemática'].median()
print(f'a mediana das notas de matemática e ciências é {median_mat}')
median_cie = notes_df['Ciências'].median()
print(f'a mediana das notas de matemática e ciências é {median_mat}')

a mediana das notas de matemática e ciências é 84.5
a mediana das notas de matemática e ciências é 84.5

In [26]:
# Determinando a moda das notas em matemática e ciências 
mode_mat = notes_df['Matemática'].mode()
print(f' a moda das notas de matemática é {mode_mat[0]}')
mode_cie = notes_df['Ciências'].mode()
print(f' a moda das notas de ciências é {mode_cie[0]}')

 a moda das notas de matemática é 98
 a moda das notas de ciências é 92

In [27]:
# calculando a amplitude das notas de mat e cie
ampl_mat = notes_df['Ciências'].max() - notes_df['Ciências'].min()
ampl_cie = notes_df['Matemática'].max() - notes_df['Matemática'].min()
print(f'a amplitude das notas de matemática é {ampl_mat}')
print(f'a amplitude das notas de ciências é {ampl_cie}')

a amplitude das notas de matemática é 40
a amplitude das notas de ciências é 40

In [19]:
# calculando a variância das notas de mat e cie
var_mat = notes_df['Matemática'].var()
print(f'a variância das notas de matemática é {var_mat}')
var_cie = notes_df['Ciências'].var()
print(f'a variância das notas de ciência é {var_cie}')

a variância das notas de matemática é 160.75262626262628
a variância das notas de ciência é 150.1539393939394

In [20]:
# calculando o desvio padrão das notas de cie e mat
dp_mat = notes_df['Matemática'].std
dp_cie = notes_df['Ciências'].std
print(f'o desvio padrão das notas de matemática é {dp_mat}')
print(f'o desvio padrão das notas de ciências é {dp_cie}')

o desvio padrão das notas de matemática é <bound method Series.std of 0     67
1     83
2     70
3     76
4     67
      ..
95    87
96    82
97    96
98    91
99    92
Name: Matemática, Length: 100, dtype: int64>
o desvio padrão das notas de ciências é <bound method Series.std of 0     60
1     78
2     61
3     85
4     91
      ..
95    71
96    81
97    81
98    89
99    97
Name: Ciências, Length: 100, dtype: int64>

In [24]:
#  calculando a covariância das notas de mat e cie
covar_df = notes_df[['Matemática', 'Ciências']].cov().iloc[0, 1]
print(f' a convariância é igual a {covar_df}')

 a convariância é igual a 9.133131313131308

In [25]:
# calculando a correlação das notas de mat e cie 
corrl_df = notes_df[['Matemática', 'Ciências']].corr().iloc[0, 1]
print(f'a correlação é igual a {corrl_df}')

a correlação é igual a 0.058785781765414935