In [1]:
import pandas as pd

In [2]:
notes_csv = pd.read_csv('../../files-dataframes/17_notas_grupos.csv')
notes_csv

    Grupo_A  Grupo_B
0        51       23
1        92       25
2        14       88
3        71       59
4        60       40
..      ...      ...
95       39        0
96       84       26
97       79       61
98       81       76
99       52        2

[100 rows x 2 columns]

In [3]:
notes_df = pd.DataFrame(notes_csv)
notes_df

    Grupo_A  Grupo_B
0        51       23
1        92       25
2        14       88
3        71       59
4        60       40
..      ...      ...
95       39        0
96       84       26
97       79       61
98       81       76
99       52        2

[100 rows x 2 columns]

In [7]:
# calculando a média de ambos os grupos
group_mean_A = notes_df['Grupo_A'].mean()
group_mean_B = notes_df['Grupo_B'].mean()
print(f'a média de notas do grupo A é {group_mean_A}')
print(f'a média de notas do grupo B é {group_mean_B}')

a média de notas do grupo A é 51.31
a média de notas do grupo B é 48.05

In [8]:
# calculando a mediana de ambos os grupos
group_A_median = notes_df['Grupo_A'].median()
group_B_median = notes_df['Grupo_B'].median()
print(f'a mediana das notas do grupo A é {group_A_median}')
print(f'a mediana das notas do grupo B é {group_B_median}')

a mediana das notas do grupo A é 53.5
a mediana das notas do grupo B é 43.5

In [9]:
# calculando o desvio padrão das notas de ambos os grupos
dp_group_A = notes_df['Grupo_A'].std()
dp_group_B = notes_df['Grupo_B'].std()
print(f'o devsio padrao das notas do grupo A é {dp_group_A}')
print(f'o devsio padrao das notas do grupo B é {dp_group_B}')

o devsio padrao das notas do grupo A é 29.704162548829295
o devsio padrao das notas do grupo B é 30.74278267933283