In [1]:
import pandas as pd

In [3]:
# 1- carregar o dataset
ds = pd.read_csv('../../files-dataframes/18_analise_avancada.csv')
df = pd.DataFrame(ds)
df

   Turma  Matemática  Ciências
0      C          83        96
1      A          47        91
2      C          63        52
3      C          50        80
4      A          90        42
..   ...         ...       ...
95     A          78        79
96     A          72        78
97     C          40        57
98     A          96        79
99     A          66        40

[100 rows x 3 columns]

In [4]:
# 2- Calcular, média, mediana, moda, amplitude, variância, devsio padrão, covariância e correlação 
# entre matemática e ciências para cada turma

## preparando o ambiente 

### média ###