In [1]:
import pandas as pd

Existem valores ausentes ou inconsistentes no dataset? Se
sim, como você trataria esses dados para garantir a
qualidade da análise?

In [2]:
# sim, para trata-los basta usar a função dropna() do pandas

#-->

p_penguins_csv = pd.read_csv('../../files-dataframes/palmerpenguins_original.csv') #Lendo csv
df_p_penguins = pd.DataFrame(p_penguins_csv) #Transformando em df
df_p_penguins = df_p_penguins.dropna() #Droppando dados nulos
df_p_penguins #imprimindo df sem células nulas

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,male,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

Realize uma análise exploratória dos dados para entender as
características físicas (como peso, comprimento do bico e
comprimento da asa) das três espécies de pinguins. Utilize
agregações e agrupamentos para comparar essas
características entre as espécies.

In [4]:
grouped_species = df_p_penguins.groupby('species')
spc_adelie = grouped_species.get_group('Adelie')
spc_gentoo = grouped_species.get_group('Gentoo')
spc_chinstrap = grouped_species.get_group('Chinstrap')

ADELIE

In [9]:
spc_adelie['bill_length_mm'].median()
# Mediana de comprimento do bico de pinguins da espécie Adelie

38.849999999999994

In [11]:
spc_adelie['bill_depth_mm'].median()
# Mediana de profundidade do bico de pinguins da espécie Adelie

18.4

In [12]:
spc_adelie['flipper_length_mm'].median()
# Médiana de comprimento da nadadeira de pinguins da espécie Adelie

190.0

In [13]:
spc_adelie['body_mass_g'].median()
# Mediana de massa corporal de pinguins da espécie Adelie

3700.0

GENTOO

In [14]:
spc_gentoo['bill_length_mm'].median()
# Mediana de comprimento do bico de pinguins da espécie Gentoo

47.4

In [15]:
spc_gentoo['bill_depth_mm'].median()
# Mediana de profundidade do bico de pinguins da espécie Gentoo

15.0

In [16]:
spc_gentoo['flipper_length_mm'].median()
# Médiana de comprimento da nadadeira de pinguins da espécie Gentoo

216.0

In [17]:
spc_gentoo['body_mass_g'].median()
# Mediana de massa corporal de pinguins da espécie Gentoo

5050.0

CHINSTRAP

In [18]:
spc_chinstrap['bill_length_mm'].median()
# Mediana de comprimento do bico de pinguins da espécie Chinstrap

49.55

In [19]:
spc_chinstrap['bill_depth_mm'].median()
# Mediana de profundidade do bico de pinguins da espécie Chinstrap

18.45

In [20]:
spc_chinstrap['flipper_length_mm'].median()
# Médiana de comprimento da nadadeira de pinguins da espécie Chinstrap

196.0

In [23]:
spc_chinstrap['body_mass_g'].median()
# Mediana de massa corporal de pinguins da espécie Chinstrap

3700.0

Crie gráficos para visualizar as diferenças entre as espécies de
pinguins com base nas características físicas. Use gráficos de
dispersão, boxplot e histogramas para mostrar as distribuições e
comparações entre as variáveis.

In [24]:
df_p_penguins.describe()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,333.000000,333.000000,333.000000,333.000000,333.000000
mean,43.992793,17.164865,200.966967,4207.057057,2008.042042
std,5.468668,1.969235,14.015765,805.215802,0.812944
min,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,39.500000,15.600000,190.000000,3550.000000,2007.000000
50%,44.500000,17.300000,197.000000,4050.000000,2008.000000
75%,48.600000,18.700000,213.000000,4775.000000,2009.000000
max,59.600000,21.500000,231.000000,6300.000000,2009.000000