In [3]:
nome = 'isaac' #string
e_professor = True #bool
nota = 10 #int
dinheiro_na_carteira = 20.00 #float

In [6]:
if 10 < 3:
    print('Maior que 3')
else: 
    print('É não')

É não

In [7]:
lista_de_compras = ['maca', 'banana', 'uva', 'leite']
for i in lista_de_compras:
    print(i)

maca
banana
uva
leite

In [9]:
t_tuple = [(12, 24), (32, 48)]

d_dict = [{
    nome: 'Pedro Dutra',
    idade: 21,
    code: True
}]

NameError: name 'idade' is not defined