# Exercício 11 – Mini Boss - Coop

### Crie e exiba um dataframe musicas com informações sobre suas músicas favoritas (5 músicas):

- id_musica – identificador da música.\
- nome_musica – nome da música.\
- artista – nome do artista ou banda\
- genero – gênero musical (Pop, Rock, Jazz, etc.)\
- duracao – duração da música em minutos.

In [10]:
import pandas as pd
import time

In [11]:
df_musicas = pd.DataFrame(
    {
    'nome_musica': ['Clarão', 'Take Me to Church', 'Declare guerra' ,'Lovely', 'Treat You Better' ],
    'artista': ['Jão','Hozier','Barão Vermelho', 'Billie Eilish', 'Shawn Mendes'],
    'genero': ['POP','Rock', 'Rock', 'POP', 'POP'],
    'duracao': [189, 257, 201, 200, 187]
},
)

df_musicas.index.name = 'id_musica'
df_musicas

                 nome_musica         artista genero  duracao
id_musica
0                     Clarão             Jão    POP      189
1          Take Me to Church          Hozier   Rock      257
2             Declare guerra  Barão Vermelho   Rock      201
3                     Lovely   Billie Eilish    POP      200
4           Treat You Better    Shawn Mendes    POP      187

### Crie e exiba um dataframe reproducoes dessas musicas:

- id_reproducao – identificador único da reprodução. 
- id_musica – identificador da música reproduzida. 
- data_reproducao – data da reprodução. 
- duracao_reproducao – duração da reprodução (caso o usuário não ouça a música completa).

In [12]:
df_reproducoes = pd.DataFrame(
    {
        'id_musica': [],
        'data_reproducao': [],
        'duracao_reproducao': []
    }
)

df_reproducoes.index.name = 'id_reproducao'
df_reproducoes

Empty DataFrame
Columns: [id_musica, data_reproducao, duracao_reproducao]
Index: []

- Simule 5 reproduções de diferentes músicas, associando o id_musica com a data e a duração reproduzida.
- Realize um merge entre os dataframes musicas e reproducoes, combinando-os pela coluna id_musica.
- Exiba o nome da música, o artista e a duração

In [13]:
# Simulando 5 reproduções de músicas
df_reproducoes.loc[len(df_reproducoes)] = [2, '09/09/2024', 120]
df_reproducoes.loc[len(df_reproducoes)] = [3, '11/09/2024', 68]
df_reproducoes.loc[len(df_reproducoes)] = [1, '13/09/2024', 200]
df_reproducoes.loc[len(df_reproducoes)] = [4, '27/09/2024', 185]
df_reproducoes.loc[len(df_reproducoes)] = [0, '30/09/2024', 163]

df_reproducoes

               id_musica data_reproducao  duracao_reproducao
id_reproducao
0                      2      09/09/2024                 120
1                      3      11/09/2024                  68
2                      1      13/09/2024                 200
3                      4      27/09/2024                 185
4                      0      30/09/2024                 163

In [14]:
df_combinado = df_musicas.merge(df_reproducoes, on='id_musica', how='left')
df_combinado[['nome_musica', 'artista', 'duracao_reproducao']]

         nome_musica         artista  duracao_reproducao
0             Clarão             Jão                 163
1  Take Me to Church          Hozier                 200
2     Declare guerra  Barão Vermelho                 120
3             Lovely   Billie Eilish                  68
4   Treat You Better    Shawn Mendes                 185

In [15]:
df_reproducoes = df_reproducoes.drop(2)

In [16]:
df_combinado = df_musicas.merge(df_reproducoes, on='id_musica', how='left')
df_combinado[['nome_musica', 'artista', 'duracao_reproducao']]

         nome_musica         artista  duracao_reproducao
0             Clarão             Jão               163.0
1  Take Me to Church          Hozier                 NaN
2     Declare guerra  Barão Vermelho               120.0
3             Lovely   Billie Eilish                68.0
4   Treat You Better    Shawn Mendes               185.0

In [17]:
df_combinado = df_combinado.fillna('Não Reproduzida')

In [18]:
df_combinado[['nome_musica', 'artista', 'duracao_reproducao']]

         nome_musica         artista duracao_reproducao
0             Clarão             Jão              163.0
1  Take Me to Church          Hozier    Não Reproduzida
2     Declare guerra  Barão Vermelho              120.0
3             Lovely   Billie Eilish               68.0
4   Treat You Better    Shawn Mendes              185.0

Análise os dados
✦ Qual o gênero de música mais reproduzido? Use 
agrupamento para calcular isso.
✦ Qual o total de minutos de música reproduzidos?
✦ Crie uma nova coluna chamada avaliacao e atribua 
uma classificação de 1 a 5 para cada música com base 
em quanto você gosta dela

In [45]:
df_combinado.groupby('genero')['genero'].count()

genero
POP     3
Rock    2
Name: genero, dtype: int64

O Genero mais ouvido é o POP com 3 Reproduções

In [57]:
tempo_reproduzido = round(float(df_combinado['duracao'].sum() / 60), 2)

In [58]:
tempo_reproduzido

17.23

O total em minutos reproduzidos é de 17,23 minutos

In [59]:
df_musicas['avaliacao'] = [5,3,2,4,5]

In [62]:
df_musicas

                 nome_musica         artista genero  duracao  avaliacao
id_musica
0                     Clarão             Jão    POP      189          5
1          Take Me to Church          Hozier   Rock      257          3
2             Declare guerra  Barão Vermelho   Rock      201          2
3                     Lovely   Billie Eilish    POP      200          4
4           Treat You Better    Shawn Mendes    POP      187          5