Exercício 11 – Mini Boss - Coop

✦ Crie e exiba um dataframe musicas com informações
sobre suas músicas favoritas ( 5 músicas ):

✦ id_musica – identificador da música.
✦ nome_musica – nome da música.
✦ artista – nome do artista ou banda
✦ genero – gênero musical (Pop, Rock, Jazz, etc.)
✦ duracao – duração da música em minutos.

In [1]:
import pandas as pd

In [2]:
db_musicas = pd.DataFrame(
    {
    'id_musica': [13,21,36,49,52],
    'nome_musica': ['clarao', 'take me to church', 'drag me down' ,'after hours', 'bring me to life' ],
    'artista': ['jao','hozier','one direction', 'the weeknd', 'evanescence'],
    'genero': ['pop','rocks', 'pop', 'pop', 'rock'],
    'duracao': [3.10, 4.17, 3.12, 6.02, 4.14]
}
)

In [3]:
db_musicas.head()

   id_musica        nome_musica        artista genero  duracao
0         13             clarao            jao    pop     3.10
1         21  take me to church         hozier  rocks     4.17
2         36       drag me down  one direction    pop     3.12
3         49        after hours     the weeknd    pop     6.02
4         52   bring me to life    evanescence   rock     4.14

#### Crie e exiba um dataframe reproducoes dessas musicas:

✦ id_reproducao – identificador único da reprodução. 
✦ id_musica – identificador da música reproduzida. 
✦ data_reproducao – data da reprodução. 
✦ duracao_reproducao – duração da reprodução (caso o usuário não ouça a música completa).

In [4]:
db_reproducoes = pd.DataFrame(
    {
        'id_reproducoes': [],
        'id_musica': [],
        'data_reproducao': [],
        'duracao_reproducao': []
    }
)

In [5]:
db_reproducoes

Empty DataFrame
Columns: [id_reproducoes, id_musica, data_reproducao, duracao_reproducao]
Index: []

✦ Simule 5 reproduções de diferentes músicas, associando o id_musica com a data e a duração reproduzida.
✦ Realize um merge entre os dataframes musicas e reproducoes, combinando-os pela coluna id_musica.
✦ Exiba o nome da música, o artista e a duração

In [7]:
import time

In [15]:
def play(dataframe, music):
    searched_music = music
    consult = dataframe[dataframe['nome_musica'] == searched_music]
    print(consult)

play(db_musicas, 'clarao')

   id_musica nome_musica artista genero  duracao
0         13      clarao     jao    pop      3.1