# print('exercício_07 - Aula03/04')

✦ Exercício 05 -Crie uma lista com 5 nomes de filmes que você goste.\
✦ Crie uma 2a lista com o ano de lançamento desses 5 filmes (pode pesquisar, eu deixo). Tranforme isso em um dataframe;\
✦ Adicione uma nova coluna com a nota, de 1 a 10, de quanto você gosta deles;

In [5]:
import pandas as pd

In [20]:
movies = {
    'names': ['O Homem Bicenternáiro', 'O Advogado do Diabo', 'Star Wars EP I', 'Hereditário', '60 Segundos'],
    'year': [ 2000, 1997, 1999, 2018, 2000 ]
}

In [21]:
movies['rate'] = [10, 10, 10, 10, 10]

In [22]:
movies_df = pd.DataFrame(movies)
print(movies_df)

                   names  year  rate
0  O Homem Bicenternáiro  2000    10
1    O Advogado do Diabo  1997    10
2         Star Wars EP I  1999    10
3            Hereditário  2018    10
4            60 Segundos  2000    10

In [23]:
series = {
    'name': ['O Paciente', 'The Mandalorian', 'Boba Fett'],
    'rate': [9, 10, 11]
}

✦ Crie mais 2 dataframes, de séries e anime/desenhos que você gosta, com as mesmas colunas acima.\
✦ Salve os 3 dataframes em 'csv', 'json' e 'html' e nos envie os arquivos.\
✦ Concatene horizontalmente os 3 dataframes, ficando 9 colunas no final.

In [24]:
series_df = pd.DataFrame(series)
print(series_df)

              name  rate
0       O Paciente     9
1  The Mandalorian    10
2        Boba Fett    11

In [25]:
others = {
    'books': ['A Última Grande Lição', 'Dagon', 'A Arte da Guerra'],
    'rate': [10, 8, 10]
}

In [26]:
others_df = pd.DataFrame(others)
print(others_df)

                   books  rate
0  A Última Grande Lição    10
1                  Dagon     8
2       A Arte da Guerra    10

In [27]:
movies_df.to_json('movies.json')
movies_df.to_csv('movies.csv')
movies_df.to_html('movies.html')

In [28]:
series_df.to_json('series.json')
series_df.to_csv('series.csv')
series_df.to_html('series.html')

In [29]:
others_df.to_json('others.json')
others_df.to_csv('others.csv')
others_df.to_html('others.html')

In [30]:
readingvar = pd.read_json('movies.json')

In [31]:
readingvar

                   names  year  rate
0  O Homem Bicenternáiro  2000    10
1    O Advogado do Diabo  1997    10
2         Star Wars EP I  1999    10
3            Hereditário  2018    10
4            60 Segundos  2000    10

In [32]:
df_concat = pd.concat([movies_df , series_df , others_df], axis=1)
df_concat

,names,year,rate,name,rate,books,rate
0,O Homem Bicenternáiro,2000,10,O Paciente,9.0,A Última Grande Lição,10.0
1,O Advogado do Diabo,1997,10,The Mandalorian,10.0,Dagon,8.0
2,Star Wars EP I,1999,10,Boba Fett,11.0,A Arte da Guerra,10.0
3,Hereditário,2018,10,NaN,NaN,NaN,NaN
4,60 Segundos,2000,10,NaN,NaN,NaN,NaN

In [33]:
df_concat.dropna()

,names,year,rate,name,rate,books,rate
0,O Homem Bicenternáiro,2000,10,O Paciente,9.0,A Última Grande Lição,10.0
1,O Advogado do Diabo,1997,10,The Mandalorian,10.0,Dagon,8.0
2,Star Wars EP I,1999,10,Boba Fett,11.0,A Arte da Guerra,10.0